.header {
	width: 100%;
	cursor: pointer;
	position: fixed;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	background-color: #0b0c0c;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	padding-bottom: 5px;
	box-shadow: 0px 1px 5px black;
	color: rgb(239, 243, 6);
	z-index: 100;
}

@media (max-width: 1000px) {
	.header {
		padding-top: 5px;
		font-size: 20px;
	}
}
